<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<body roleId="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<head th:replace="common/header :: navbar"/>
 
 
<div class="container main">
    <div class="row">
  
		</div>
            
        <div class="col-md-6">
            <h3>Edit Raw Material Details</h3>
            <form th:action="@{/rawmtl/save}" method="post">
            			
                <input type="hidden" name="id" th:value="${rawmtl.id}" />
              	<input type="hidden" name="mode" th:value="edit" />
                  
                
               <div class="form-group">
                 <label for="rawmtlname">Edit Raw Material Name<span style="color:red">*</span> </label>
                 <input type="text" class="form-control" th:value="${rawmtl.rawmtlname}" name="rawmtlname"
                           id="rawmtlname" placeholder="Enter Raw Material Name"  required="required"/>
               </div>
             
            
               <div class="form-group">
                 <label for="rawmtluom">Edit Unit Of Measurement<span style="color:red">*</span> </label>
                 <select class="form-control" th:attr="value=${rawmtl.uom}" id="rawmtluom" name="uom" required="required">
                 <option disabled="disabled" selected="selected" >-Select Unit Of Measurement-</option>
                   <option 
				    th:each="item : ${Uomlist}" 
				    th:value="${item}" 
				    th:text="${#strings.capitalize(#strings.toLowerCase(item))}" 
     	            th:selected="(${item} == ${selecteduom})"></option>
                    </select>
                </div> 
                
                <div>
                 <label for="rawmtlunitcp"> Edit Unit Cost Price<span style="color:blue">(Enter Numbers)</span></label>
                 <input type="text" class="form-control" th:value="${rawmtl.unitcp}" name="unitcp"
                           id="rawmtlunitcp" placeholder="Enter unitcp"/>
                </div>
                
                 <div class="form-group">
                    <label for="effdate">Edit Effective Date: <span style="color:red">*</span></label>
                    <div class="input-append date form_datetime input-group" 
                    >
                        <input class="form-control" type="text" required="required" 
                               th:value="${effDate}" name="effDate"
                               id="effDate" />
                        <span class="input-group-addon"><i class="fa fa-times" aria-hidden="true"></i></span>
                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                    </div>
                </div>
                
                 <div class="form-group">
                 <label for="bulkpurchase">Edit Bulk Purchase</label>
                 <select class="form-control" th:value="${rawmtl.bulkpurchase}" id="bulkpurchase" name="bulkpurchase">
                 <option disabled="disabled" selected="selected" >-Select Bulk Purchase-</option>
                   <option 
				    th:each="item : ${BulkList}" 
				    th:value="${item}" 
				    th:text="${#strings.capitalize(#strings.toLowerCase(item))}" 
     	            th:selected="(${item} == ${selectedbulklist})"></option>
                    </select>
                </div>
                
               
               <input type="hidden"
                       name="${_csrf.parameterName}"
                       value="${_csrf.token}"/>
				<div>
                <button class="btn btn-primary" type="submit">Save</button>
                 </div>         
                       </form>
            </div>
           
        </div>

    <br/>
    
 
 
<div th:replace="common/header :: body-bottom-scripts"></div>

 
</body>
</html>
