<div class="border" style="border-left: 5px solid;">
    <div class="container" style="background-color: #f4df42">
        <div class="text-center">
            <strong> <h1>CafePos</h1> </strong>
            <h3>Open Register</h3>
            <p class="text-right"><button class="button3"><h3><strong>{{getDate | date:'dd-MMM-yyyy'}}</strong></h3></button></p>
        </div>
        <div class="borders" style="border: 5px solid green; padding:30px;">
            <h2>Register Closed</h2>
            <h2>Set an opening float to open Register and make sale</h2>
        </div>
        <br><br>
        <div class="container">
            <div class="text-center">
                <div class="border" style="border: 5px solid green; padding:30px;">
                    <table class="table">
                        <tr>
                            <td>
                                <h3> Opening float</h3>
                            </td>
                            <td>
                                <input type="number" class="form" placeholder="Enter the Basic Money" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3> Notes</h3>
                            </td>
                            <td>
                                <textarea rows="4" cols="50" class="form" placeholder="Information"></textarea>
                            </td>
                        </tr>
                    </table>
                    <button class="btn btn-primary btn-lg">Open Register</button>
                </div>
            </div>
        </div>
    </div>
</div>