<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<body roleId="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<head th:replace="common/header :: navbar"/>
<div class="container main">
    <div class="row">
    	<div th:switch="${q}">
		    <p th:case="'del'"><span>items </span> <b><span th:text="${key}" /></b><span> deleted Successfully!</span></p>
		    <p th:case="'edit'"><span>items </span> <b><span th:text="${key}" /></b><span> edited Successfully!</span></p>
			
		</div>
        <h3>List of Items</h3>
        <div class="table-responsive">
            <table id="example" class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th>Item Name</th>
                    <th>Unit Of Measurement</th>
                    <th>Unit Cost Price</th>
                    <th>Unit Selling Price</th>
                    <th>Effective Date</th>
                    <th>Item Category</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr data-th-each="eachItem : ${itemsList}">
                    <td><a data-th-text="${eachItem.itemname}" th:href="@{/items/edit?id=}+${eachItem.id}">...</a></td>
                    <td data-th-text="${eachItem.uom}">...</td>
               		<td data-th-text="${eachItem.unitcp}">...</td>
               		<td data-th-text="${eachItem.unitsp}">...</td>
                    <td data-th-text="${eachItem.effdate}">...</td>
                    <td data-th-text="${eachItem.itemcat}">...</td>
 
                	<td><a th:href="@{/items/delete?id=}+${eachItem.id}">delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
 
 
<div th:replace="common/header :: body-bottom-scripts"/>
<script> 
    $(document).ready(function() {
        $('#example').DataTable();
    } );
</script>
</body>
</html>
